<h2 class="text-4xl text-center font-bold tracking-tight text-gray-900 mb-12">
  E-Services
</h2>
<div class="grid grild-cols-1 sm:grid-cols-4 gap-4">
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex w-full justify-center mt-8 mb-2">
      <img class="rounded-t-lg w-[150px]" src="./assets/logo.png" alt="" />
    </div>
    <div class="p-5 text-center">
      <h5
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Barangay Clearance
      </h5>

      <a
        href="#"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Request Issuance
      </a>
    </div>
  </div>
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex w-full justify-center mt-8 mb-2">
      <img class="rounded-t-lg w-[150px]" src="./assets/logo.png" alt="" />
    </div>
    <div class="p-5 text-center">
      <h5
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Certificate of Residency
      </h5>

      <a
        href="#"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Request Issuance
      </a>
    </div>
  </div>
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex w-full justify-center mt-8 mb-2">
      <img class="rounded-t-lg w-[150px]" src="./assets/logo.png" alt="" />
    </div>
    <div class="p-5 text-center">
      <h5
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Certificate of Indigency
      </h5>

      <a
        href="#"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Request Issuance
      </a>
    </div>
  </div>
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex w-full justify-center mt-8 mb-2">
      <img class="rounded-t-lg w-[150px]" src="./assets/logo.png" alt="" />
    </div>
    <div class="p-5 text-center">
      <h5
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Other Certificates
      </h5>
      <a
        href="#"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Request Issuance
      </a>
    </div>
  </div>
</div>
