<div class="flex flex-col justify-center items-center mt-12">
  <h1 class="text-2xl font-extrabold sm:text-5xl bg-white text-indigo-700 my-6 sm:my-12">
    Barangay Officials
  </h1>
  <div class="container mx-auto text-center pt-12">
    <div class="items-center justify-center flex">
      <div class="text-center">
        <div class="flex flex-col justify-center items-center">
          <div class="w-16">
            <img
              class="block rounded-full m-auto shadow-md"
              alt="Jorge C. Catilo"
              src="./assets/default.png"
            />
          </div>
          <div class="text-gray-600">
            <p class="font-bold">Punong Barangay</p>
            <p>Jorge C. Catilo</p>
          </div>
        </div>
        <ul class="flex flex-row justify-center">
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Fe de Chavez"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">	Brgy. Kagawad</p>
                    <p>Fe de Chavez</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Anselmo M. Catibog"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">Brgy. Kagawad</p>
                    <p>Anselmo M. Catibog</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="flex flex-row justify-center">
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Ricardo A. Lim"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">Punong Barangay</p>
                    <p>Ricardo A. Lim</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Romulo C. Caniedo"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">	Brgy. Kagawad</p>
                    <p>Romulo C. Caniedo</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Ernesto B. Pitogo"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">Brgy. Kagawad</p>
                    <p>Ernesto B. Pitogo</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
        <ul class="flex flex-row justify-center">
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="John Matthew D. Andal"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">Punong Barangay</p>
                    <p>John Matthew D. Andal</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="June A. Borbon"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">	Brgy. Kagawad</p>
                    <p>June A. Borbon</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Rona A. Chavez"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">SK Chairman</p>
                    <p>Rona A. Chavez</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Ladylyn C. Catibog"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">	Brgy. Secretary</p>
                    <p>Ladylyn C. Catibog</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="relative p-6">
            <div class="relative flex justify-center">
              <div class="text-center">
                <div class="flex flex-col justify-center items-center">
                  <div class="w-16">
                    <img
                      class="block rounded-full m-auto shadow-md"
                      alt="Ladylyn C. Catibog"
                      src="./assets/default.png"
                    />
                  </div>
                  <div class="text-gray-600">
                    <p class="font-bold">	Brgy. Treasurer</p>
                    <p>Jocelyn A. Hernandez</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
