<div
  class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
>
  <h1 class="text-lg font-semibold text-gray-900 dark:text-white">
    All Notifications
  </h1>
  <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
    <li *ngFor="let announcement of announcements">
      <a
        href="#"
        class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <div
          class="flex items-center justify-center w-12 h-12 mr-3 sm:mb-0 bg-blue-600 border border-white rounded-full dark:border-gray-800"
        >
          <svg
            class="w-6 h-6 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M1 18h16a1 1 0 0 0 1-1v-6h-4.439a.99.99 0 0 0-.908.6 3.978 3.978 0 0 1-7.306 0 .99.99 0 0 0-.908-.6H0v6a1 1 0 0 0 1 1Z"
            />
            <path
              d="M4.439 9a2.99 2.99 0 0 1 2.742 1.8 1.977 1.977 0 0 0 3.638 0A2.99 2.99 0 0 1 13.561 9H17.8L15.977.783A1 1 0 0 0 15 0H3a1 1 0 0 0-.977.783L.2 9h4.239Z"
            />
          </svg>
        </div>
        <div class="text-gray-600 dark:text-gray-400">
          <div class="text-base font-normal">
            {{ announcement.message }}
          </div>

          <span
            class="inline-flex items-center text-xs font-normal text-blue-600 dark:text-blue-500"
          >
            {{ announcement.timestamp }}
          </span>
        </div>
      </a>
    </li>
  </ol>
</div>
